/* -- tags -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --line-thickness: 0.062rem;
    --line-color: #aaa;
    --pointer-size: 0.8rem;
}

body {
    /*font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: 'Cormorant Garamond', serif;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;

    overflow: hidden;
}

ol, ul {
    margin-left: 2rem;
}

/* -- classes -- */
.wrapper {
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: start;

    flex-grow: 1;
    margin: 3rem 1rem 3rem 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
}
.content-wrapper {
    height: fit-content;
    min-height: max-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateY(20vh);
}

.word-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 4em 1em 0;
}


.word {
    font-size: 9em;
    line-height: 0.8em;
}

.word-subtitle {
    width: fit-content;
    font-size: 2em;
    font-style: italic;
}

.definitions li {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.definitions li p {
    font-size: 1.4rem;
    font-style: normal;
}

.grammar li {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}

.alternatives li {
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
}


.empty-message {
    min-width: 60dvmin;
    margin: 0 auto;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.empty-message h1 {
    font-size: 4rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}
.empty-message h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}
.empty-message h2 span {
    font-weight: bold;
}

.wordlist-wrapper {
    height: fit-content;

    position: absolute;
    top: 0;
    left: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    --wordlist-offset: 0;
    transform: translateY(var(--wordlist-offset));
    transition: transform 0.1s ease-out;
}
.wordlist-wrapper .d2 {
    pointer-events: none;
    color: #aaa;
    font-size: 4vh;
}
.wordlist-wrapper .d1 {
    pointer-events: none;
    margin-left: 0.1rem;
    color: #888;
    font-size: 5vh;
}
.wordlist-wrapper .d0 {
    color: #000;
    margin-left: 0.2rem;
    font-size: 6vh;
}


.right-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    padding: 0.5rem;
}


/* -- helper classes -- */
.hidden {
    display: none;
}
.no-bullets {
    list-style-type: none;
}
.mt {
    margin-top: 1rem;
}
.mt-16 {
    margin-top: 1.6rem;
}
.ms-2 {
    margin-left: 2rem;
}
.lighter {
    font-weight: lighter;
}
.fs-14 {
    font-size: 1.4rem;
}
.noSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}


/* -- custom slider element --*/
.slider-container {
    width: min-content;
    height: 100vh;
    margin: 0 2rem 0 3em;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 0;
}
.slider-container:hover, .slider-container:active {
    --line-color: #000;
    --pointer-size: 1.4rem;
}
.slider-cap {
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: #ffff;
    border-radius: 50%;
    border: var(--line-thickness) solid var(--line-color);
    transition: border-color 0.2s linear;
}
/*
.slider-start {
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg) translate(0.1rem, -0.1rem);
}
.slider-end {
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg) translate(0.1rem, 0.1rem);
}*/
.slider-line {
    height: 100%;
    width: 0;
    border-right: var(--line-thickness) dashed var(--line-color);
    pointer-events: none;
    transition: border-color 0.2s linear;
}
.slider-button {
    position: absolute;
    top: 0;

    width: 0.8rem;
    aspect-ratio: 1;

    --slider-offset: 50vh;
    transform: translate(-0.6rem, var(--slider-offset)) rotate(45deg);

    background-color: #ffff;
    border-radius: 50% 0 50% 50%;
    border: var(--line-thickness) solid var(--line-color);

    cursor: pointer;
    transition: border-color 0.2s linear,
                background-color 0.2s linear,
                transform 0.1s ease-out;
}