/* -- tags -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --line-thickness: 0.062rem;
    --line-color: #aaa;
    --pointer-size: 0.8rem;
}

body {
    /*font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: 'Cormorant Garamond', serif;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;

    overflow: hidden;
}

ol {
    margin-left: 2rem;
}

/* -- classes -- */
.wrapper {
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: center;

    flex-grow: 1;
    margin: 0 0 0 4rem;
}
.word-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 4em 1em 0;
}


.word {
    font-size: 10em;
    line-height: 0.8em;
}

.word-subtitle {
    font-size: 2em;
    font-style: italic;
}

.definitions li {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.definitions li p {
    font-size: 1.4rem;
    font-style: normal;
}


.empty-message {
    min-width: 60dvmin;
    margin: 0 auto;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.empty-message h1 {
    font-size: 4rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}
.empty-message h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
}
.empty-message h2 span {
    font-weight: bold;
}

.wordlist-wrapper {
    display: flex;
    flex-direction: column;
}
.wordlist-wrapper .d2 {
    pointer-events: none;
    color: #aaa;
}
.wordlist-wrapper .d1 {
    pointer-events: none;
    color: #888;
}
.wordlist-wrapper .d0 {
    color: #000
}


/* -- helper classes -- */
.hidden {
    display: none;
}


/* -- custom slider element --*/
.slider-container {
    width: 2rem;
    height: 100vh;
    margin: 0 2rem;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 0;
}
.slider-container:hover, .slider-container:active {
    --line-color: #000;
    --pointer-size: 1.4rem;
}
.slider-cap {
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: #ffff;
    border-radius: 50%;
    border: var(--line-thickness) solid var(--line-color);
    transition: border-color 0.2s linear;
}
/*
.slider-start {
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg) translate(0.1rem, -0.1rem);
}
.slider-end {
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg) translate(0.1rem, 0.1rem);
}*/
.slider-line {
    height: 100%;
    width: 0;
    border-right: var(--line-thickness) dashed var(--line-color);
    pointer-events: none;
    transition: border-color 0.2s linear;
}
.slider-button {
    position: absolute;
    top: 0;

    width: 0.8rem;
    aspect-ratio: 1;

    --slider-offset: 50vh;
    transform: translate(-0.6rem, var(--slider-offset)) rotate(45deg);

    background-color: #ffff;
    border-radius: 50% 0 50% 50%;
    border: var(--line-thickness) solid var(--line-color);

    cursor: pointer;
    transition: border-color 0.2s linear, background-color 0.2s linear;
}